Entropy는 낮을 수록 좋은 것!

In [33]:
import numpy as np
import math
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Simple binary entropy

In [30]:
def entropy(_set):
    array = list(_set)
    #print(array)
    n_ones = array.count(1)
    n_zeros = array.count(0)
    if n_ones == 0 or n_zeros == 0:
        result = 0
    else:
        n_total = len(array)
        P_1 = float(n_ones)/n_total
        P_0 = float(n_zeros)/n_total
        print("P_1:{}/{} P_0:{}/{}".format(n_ones,n_total,n_zeros,n_total))
        print("n_ones: {}, n_zeros: {}, P_1: {}, P_0: {}".format(n_ones, n_zeros,P_1,P_0))
        result = -P_1*math.log(P_1,2)-P_0*math.log(P_0,2)
    #print("entropy:",result)
    return result

In [10]:
A = [1,1,1,0,0,0,0,0]
entropy(A)

P_1:3/8 P_0:5/8
n_ones: 3, n_zeros: 5, P_1: 0.375, P_0: 0.625

0.9544340029249649

In [4]:
print(entropy([1,0]))
print(entropy([0,0]))

1.0
0

# Entropy for non binary<br>
$Entropy(set) = -\sum^n_{i=1}{P_{c_i}log_2 P_{c_i}}$

$ P_{c_i}$: probability that $c_i$ appears in the set

In [182]:
def non_binary_entropy(_set):
    _set = list(_set)
    labels = np.unique(_set)
    
    n_total = len(_set)
    summ = 0
    for label in list(labels):
        n_c = _set.count(label)
        if n_c == 0 or n_c == n_total:
            continue
        else:
            p = n_c/n_total
            summ += p*math.log(p,2)
        
    entropy = -summ
    return entropy

In [94]:
letters = ['a','b','c','d','e']
import random
s = []
for i in range(15):
    n = random.randrange(1,len(letters))
    s.append(letters[n])
print("set: ",s)

set:  ['e', 'b', 'b', 'd', 'e', 'b', 'c', 'e', 'e', 'e', 'b', 'b', 'c', 'd', 'b']

# Entropy of Partitions

Which partitioning is better for two partitions

In [96]:
def which_is_better_for_two(P1, P2):
    P1_0 = len(P1[0])/(len(P1[0])+len(P1[1]))
    P1_1 = len(P1[1])/(len(P1[0])+len(P1[1]))
    P1_entropy = P1_0*entropy(P1[0])+P1_1*entropy(P1[1])
    
    P2_0 = len(P2[0])/(len(P2[0])+len(P2[1]))
    P2_1 = len(P2[1])/(len(P2[0])+len(P2[1]))
    P2_entropy = P2_0*entropy(P2[0])+P2_1*entropy(P2[1])
    
    print("Partitioning 1 entropy: {} | Partitioning 2 entropy : {}".format(P1_entropy, P2_entropy))
    result = np.argmin([P1_entropy, P2_entropy])
    print("P{} is better partitioned".format(result+1))

In [97]:
P1 = [[1,1,0,0,0],[1,1,0]]#Partitioning 1
P2 = [[1,1,1,1,0],[0,0,0]]#Partitioning 2
which_is_better_for_two(P1,P2)

P_1:2/5 P_0:3/5
n_ones: 2, n_zeros: 3, P_1: 0.4, P_0: 0.6
P_1:2/3 P_0:1/3
n_ones: 2, n_zeros: 1, P_1: 0.6666666666666666, P_0: 0.3333333333333333
P_1:4/5 P_0:1/5
n_ones: 4, n_zeros: 1, P_1: 0.8, P_0: 0.2
Partitioning 1 entropy: 0.9512050593046015 | Partitioning 2 entropy : 0.4512050593046014
P2 is better partitioned

In [98]:
P1 = [[1,1,0,0,0,1],[0,1,1,0]]
P2 = [[1,1,1,1,0,0],[1,0,0,0]]
which_is_better_for_two(P1,P2)

P_1:3/6 P_0:3/6
n_ones: 3, n_zeros: 3, P_1: 0.5, P_0: 0.5
P_1:2/4 P_0:2/4
n_ones: 2, n_zeros: 2, P_1: 0.5, P_0: 0.5
P_1:4/6 P_0:2/6
n_ones: 4, n_zeros: 2, P_1: 0.6666666666666666, P_0: 0.3333333333333333
P_1:1/4 P_0:3/4
n_ones: 1, n_zeros: 3, P_1: 0.25, P_0: 0.75
Partitioning 1 entropy: 1.0 | Partitioning 2 entropy : 0.8754887502163469
P2 is better partitioned

# Seleciting Attribute

In [99]:
list2 = [1,1,1,0,0]
entropy(list2)

P_1:3/5 P_0:2/5
n_ones: 3, n_zeros: 2, P_1: 0.6, P_0: 0.4

0.9709505944546686

In [100]:
Day = [1,2,3,4,5]
T = 'T'
F= 'F'
A = [T,T,F,F,F]
B = [T,T,T,F,F]
C = [T,F,F,T,F]
Play = [T,T,T,F,F]
df = pd.DataFrame({'Day':Day, 'A':A, 'B':B, 'C':C, 'Play':Play})
ord_enc = OrdinalEncoder()
df['A'] = ord_enc.fit_transform(df[['A']])
ord_enc = OrdinalEncoder()
df['B'] = ord_enc.fit_transform(df[['B']])
ord_enc = OrdinalEncoder()
df['C'] = ord_enc.fit_transform(df[['C']])
ord_enc = OrdinalEncoder()
df['Play'] = ord_enc.fit_transform(df[['Play']])
df.head()

   Day    A    B    C  Play
0    1  1.0  1.0  1.0   1.0
1    2  1.0  1.0  0.0   1.0
2    3  0.0  1.0  0.0   1.0
3    4  0.0  0.0  1.0   0.0
4    5  0.0  0.0  0.0   0.0

before partitioning

In [101]:
entropy(df['Play'])

P_1:3/5 P_0:2/5
n_ones: 3, n_zeros: 2, P_1: 0.6, P_0: 0.4

0.9709505944546686

which attribute partitions "Play" with the lowest entropy

In [102]:
print(entropy(df[df['A']==1]['Play'])*2/5)#A=T
print(entropy(df[df['A']==0]['Play'])*3/5)#A=F

0.0
P_1:1/3 P_0:2/3
n_ones: 1, n_zeros: 2, P_1: 0.3333333333333333, P_0: 0.6666666666666666
0.5509775004326938

In [49]:
df[df['A']==1]['Play']

0    1.0
1    1.0
Name: Play, dtype: float64

In [50]:
entropy(df[df['A']==0]['Play'])

P_1:1/3 P_0:2/3
n_ones: 1, n_zeros: 2, P_1: 0.3333333333333333, P_0: 0.6666666666666666

0.9182958340544896

In [53]:
print(entropy(df[df['B']==1]['Play'])*3/5)#B=T
print(entropy(df[df['B']==0]['Play'])*2/5)#B=F

0.0
0.0

In [51]:
df[df['B']==1]['Play']

0    1.0
1    1.0
2    1.0
Name: Play, dtype: float64

In [52]:
df[df['B']==0]['Play']

3    0.0
4    0.0
Name: Play, dtype: float64

In [64]:
print(entropy(df[df['C']==1]['Play'])*2/5)#C=T
print(entropy(df[df['C']==0]['Play'])*3/5)#C=F
print("\nresult:")
print(entropy(df[df['C']==1]['Play'])*2/5+entropy(df[df['C']==0]['Play'])*3/5)

P_1:1/2 P_0:1/2
n_ones: 1, n_zeros: 1, P_1: 0.5, P_0: 0.5
0.4
P_1:2/3 P_0:1/3
n_ones: 2, n_zeros: 1, P_1: 0.6666666666666666, P_0: 0.3333333333333333
0.5509775004326938

result:
P_1:1/2 P_0:1/2
n_ones: 1, n_zeros: 1, P_1: 0.5, P_0: 0.5
P_1:2/3 P_0:1/3
n_ones: 2, n_zeros: 1, P_1: 0.6666666666666666, P_0: 0.3333333333333333
0.9509775004326938

In [58]:
df[df['C']==1]['Play']

0    1.0
3    0.0
Name: Play, dtype: float64

In [59]:
df[df['C']==0]['Play']

1    1.0
2    1.0
4    0.0
Name: Play, dtype: float64

답: C

### another example of selecting attribute

In [68]:
Day = [1,2,3,4,5]
A = [T,T,F,F,F]
B = [T,T,T,T,F]
Play = [T,T,T,F,F]
df = pd.DataFrame({"Day":Day,"A":A,"B":B,"Play":Play})
ord_enc = OrdinalEncoder()
df['A'] = ord_enc.fit_transform(df[['A']])
ord_enc = OrdinalEncoder()
df['B'] = ord_enc.fit_transform(df[['B']])
ord_enc = OrdinalEncoder()
df['Play'] = ord_enc.fit_transform(df[['Play']])
df.head()

   Day    A    B  Play
0    1  1.0  1.0   1.0
1    2  1.0  1.0   1.0
2    3  0.0  1.0   1.0
3    4  0.0  1.0   0.0
4    5  0.0  0.0   0.0

In [70]:
print(entropy(df[df['A']==1]['Play'])*2/5)#A=T
print(entropy(df[df['A']==0]['Play'])*3/5)#A=F
print("\nresult:")
print(entropy(df[df['A']==1]['Play'])*2/5+entropy(df[df['A']==0]['Play'])*3/5)

0.0
P_1:1/3 P_0:2/3
n_ones: 1, n_zeros: 2, P_1: 0.3333333333333333, P_0: 0.6666666666666666
0.5509775004326938

result:
P_1:1/3 P_0:2/3
n_ones: 1, n_zeros: 2, P_1: 0.3333333333333333, P_0: 0.6666666666666666
0.5509775004326938

In [72]:
df[df['B']==1]['Play']

0    1.0
1    1.0
2    1.0
3    0.0
Name: Play, dtype: float64

In [73]:
df[df['B']==0]['Play']

4    0.0
Name: Play, dtype: float64

In [74]:
print(entropy(df[df['B']==1]['Play'])*4/5)#B=T
print(entropy(df[df['B']==0]['Play'])*1/5)#B=F
print("\nresult:")
print(entropy(df[df['B']==1]['Play'])*4/5+entropy(df[df['B']==0]['Play'])*1/5)

P_1:3/4 P_0:1/4
n_ones: 3, n_zeros: 1, P_1: 0.75, P_0: 0.25
0.6490224995673063
0.0

result:
P_1:3/4 P_0:1/4
n_ones: 3, n_zeros: 1, P_1: 0.75, P_0: 0.25
0.6490224995673063

### Tennis playing record data

In [221]:
Outlook = ['Sunny','Sunny','Overcast','Rain','Rain','Rain','Overcast','Sunny','Sunny','Rain','Sunny','Overcast','Overcast','Rain']
Temp = ['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
Humidity=['High','High','High','High','Normal','Normal','Normal','High','Normal','Normal','Normal','High','Normal','High']
Wind = ['Weak','Strong','Weak','Weak','Weak','Strong','Strong','Weak','Weak','Weak','Strong','Strong','Weak','Strong']
Play =['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']
df = pd.DataFrame({'Outlook':Outlook, 'Temp':Temp, 'Humidity':Humidity, 'Wind':Wind, 'Play':Play})

In [105]:
columnlist = df.columns
for c in columnlist:
    df[c] = ord_enc.fit_transform(df[[c]])
df.head()

   Outlook  Temp  Humidity  Wind  Play
0      2.0   1.0       0.0   1.0   0.0
1      2.0   1.0       0.0   0.0   0.0
2      0.0   1.0       0.0   1.0   1.0
3      1.0   2.0       0.0   1.0   1.0
4      1.0   0.0       1.0   1.0   1.0

In [106]:
entropy(df['Play'])

P_1:9/14 P_0:5/14
n_ones: 9, n_zeros: 5, P_1: 0.6428571428571429, P_0: 0.35714285714285715

0.9402859586706309

In [107]:
len(df[df['Humidity']==0]['Play'])

7

In [108]:
len(df[df['Humidity']==1]['Play'])

7

In [109]:
print(entropy(df[df['Humidity']==0]['Play']))
print(entropy(df[df['Humidity']==1]['Play']))

P_1:3/7 P_0:4/7
n_ones: 3, n_zeros: 4, P_1: 0.42857142857142855, P_0: 0.5714285714285714
0.9852281360342516
P_1:6/7 P_0:1/7
n_ones: 6, n_zeros: 1, P_1: 0.8571428571428571, P_0: 0.14285714285714285
0.5916727785823275

In [110]:
0.5*(entropy(df[df['Humidity']==0]['Play'])+entropy(df[df['Humidity']==1]['Play']))

P_1:3/7 P_0:4/7
n_ones: 3, n_zeros: 4, P_1: 0.42857142857142855, P_0: 0.5714285714285714
P_1:6/7 P_0:1/7
n_ones: 6, n_zeros: 1, P_1: 0.8571428571428571, P_0: 0.14285714285714285

0.7884504573082896

Which attribute is best classifier between outlook and wind:

In [111]:
#outlook
print(len(df[df['Outlook']==0]))
print(len(df[df['Outlook']==1]))
print(len(df[df['Outlook']==2]))

4
5
5

In [126]:
4/14 *non_binary_entropy(df[df['Outlook']==0])+5/14*non_binary_entropy(df[df['Outlook']==1])+5/14*non_binary_entropy(df[df['Outlook']==2])

2.321928094887362

In [130]:
#info gain
entropy(df['Play'])-(4/14 *non_binary_entropy(df[df['Outlook']==0])+5/14*non_binary_entropy(df[df['Outlook']==1])+5/14*non_binary_entropy(df[df['Outlook']==2]))

P_1:9/14 P_0:5/14
n_ones: 9, n_zeros: 5, P_1: 0.6428571428571429, P_0: 0.35714285714285715

-1.3816421362167313

In [127]:
#wind
print(len(df[df['Wind']==0]))
print(len(df[df['Wind']==1]))

6
8

In [128]:
6/14 *non_binary_entropy(df[df['Wind']==0])+8/14*non_binary_entropy(df[df['Wind']==1])

2.321928094887362

which attribute is the best classifier by using Gain

In [224]:
def Gain_for_all_columns(df,y):
    Gain_S = non_binary_entropy(df[y])
    print("\nGain of root: {}".format(Gain_S))
    columns_list = df.columns
    maxx = 0
    max_column = 0
    for column in list(columns_list):
        if column == 'Play':
            continue
        #print(".............calculating gain for {}".format(column))
        n_total = len(df[column])
        percent = []
        labels = np.unique(df[column])
        summ = 0
        i
        for label in labels:
            #print(".............label : {}".format(label))
            n_label = len(df[df[column]==label])
            p = n_label/n_total
            #print(".............p:{}".format(p))
            #print(".............adding:{}".format(p*non_binary_entropy(df[df[column]==label])))
            print("\t\tS_{}={}: E = {}".format(column,label,non_binary_entropy(df[df[column]==label][y])))
            #print("p:{}".format(p))
            summ += p*non_binary_entropy(df[df[column]==label][y])
            #print("\t\tp:",p,"p*non_binary_entropy(df[df[column]==label]):",p*non_binary_entropy(df[df[column]==label]))
        print("Entropy(S,{}) = {}".format(column,summ))
        if maxx < Gain_S-summ:
            max_column = column
            maxx = Gain_S-summ
        print("Gain(S, {}): {}\n".format(column, Gain_S-summ))
    print("\n>>best classifier: {} Gain: {}".format(max_column, maxx))

In [225]:
Gain_for_all_columns(df,'Play')

Gain of root: 0.9402859586706309
		S_Outlook=Overcast: E = 0
		S_Outlook=Rain: E = 0.9709505944546686
		S_Outlook=Sunny: E = 0.9709505944546686
Entropy(S,Outlook) = 0.6935361388961918
Gain(S, Outlook): 0.2467498197744391

		S_Temp=Cool: E = 0.8112781244591328
		S_Temp=Hot: E = 1.0
		S_Temp=Mild: E = 0.9182958340544896
Entropy(S,Temp) = 0.9110633930116763
Gain(S, Temp): 0.029222565658954647

		S_Humidity=High: E = 0.9852281360342516
		S_Humidity=Normal: E = 0.5916727785823275
Entropy(S,Humidity) = 0.7884504573082896
Gain(S, Humidity): 0.15183550136234136

		S_Wind=Strong: E = 1.0
		S_Wind=Weak: E = 0.8112781244591328
Entropy(S,Wind) = 0.8921589282623617
Gain(S, Wind): 0.04812703040826927


>>best classifier: Outlook Gain: 0.2467498197744391

# CART(Classification and Regression Tree)


####  C4.5 : GainInfo

#### CART : Gini Index(O), Entropy(X) &BinarySplit

#### Regression Tree: Squared Error(O), Entropy(X)

In [226]:
OUTLOOK = ['sunny','sunny','overcast','rain','rain','rain','overcast','sunny','sunny','rain','sunny','overcast','overcast','rain']
TEMP = [85,80,83,70,68,65,64,72,69,75,75,72,81,71]
HUMIDITY = [85,90,78,96,80,70,65,95,70,80,70,90,75,80]
WINDY = ['false', 'true', 'false', 'false', 'false', 'true', 'true', 'false', 'false', 'false', 'true', 'true', 'false', 'true']
PLAY = ['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']
df = pd.DataFrame({'OUTLOOK':OUTLOOK, 'TEMP':TEMP, 'HUMIDITY':HUMIDITY, 'WINDY':WINDY, 'PLAY':PLAY})
df.head()

    OUTLOOK  TEMP  HUMIDITY  WINDY PLAY
0     sunny    85        85  false   No
1     sunny    80        90   true   No
2  overcast    83        78  false  Yes
3      rain    70        96  false  Yes
4      rain    68        80  false  Yes

In [227]:
Gain_for_all_columns(df,'PLAY')# x continuous

Gain of root: 0.9402859586706309
		S_OUTLOOK=overcast: E = 0
		S_OUTLOOK=rain: E = 0.9709505944546686
		S_OUTLOOK=sunny: E = 0.9709505944546686
Entropy(S,OUTLOOK) = 0.6935361388961918
Gain(S, OUTLOOK): 0.2467498197744391

		S_TEMP=64: E = 0
		S_TEMP=65: E = 0
		S_TEMP=68: E = 0
		S_TEMP=69: E = 0
		S_TEMP=70: E = 0
		S_TEMP=71: E = 0
		S_TEMP=72: E = 1.0
		S_TEMP=75: E = 0
		S_TEMP=80: E = 0
		S_TEMP=81: E = 0
		S_TEMP=83: E = 0
		S_TEMP=85: E = 0
Entropy(S,TEMP) = 0.14285714285714285
Gain(S, TEMP): 0.7974288158134881

		S_HUMIDITY=65: E = 0
		S_HUMIDITY=70: E = 0.9182958340544896
		S_HUMIDITY=75: E = 0
		S_HUMIDITY=78: E = 0
		S_HUMIDITY=80: E = 0.9182958340544896
		S_HUMIDITY=85: E = 0
		S_HUMIDITY=90: E = 1.0
		S_HUMIDITY=95: E = 0
		S_HUMIDITY=96: E = 0
Entropy(S,HUMIDITY) = 0.536412500309067
Gain(S, HUMIDITY): 0.40387345836156396

		S_WINDY=false: E = 0.8112781244591328
		S_WINDY=true: E = 1.0
Entropy(S,WINDY) = 0.8921589282623617
Gain(S, WINDY): 0.04812703040826927

		S_PLAY=No: E = 0
		S_PLAY=Yes: E = 0
Entropy(S,PLAY) = 0.0
Gain(S, PLAY): 0.9402859586706309


>>best classifier: PLAY Gain: 0.9402859586706309

In [232]:
P = [ [1, 0, 1, 1, 1, 0, 0, 1, 0, 0] , [1, 1, 1, 0 ,0] ]#Set

In [235]:
def entropy_of_P(P):
    P_0 = float(len(P[0]))/(len(P[0])+len(P[1]))
    P_1 = float(len(P[1]))/(len(P[0])+len(P[1]))
    P_entropy = P_0*non_binary_entropy(P[0])+P_1*non_binary_entropy(P[1])
    return P_entropy

In [236]:
entropy_of_P(P)

0.9903168648182228

## Alternative Measures for Selecting Attributes(C4.5)

In [8]:

A = ['a1','a1','a1','a1','a2','a2']
B = ['b1','b2','b3','b4','b5','b6']
PLAY = ['Yes','Yes','Yes','No','No','No']
df = pd.DataFrame({'A':A,'B':B,'PLAY':PLAY})
df

    A   B PLAY
0  a1  b1  Yes
1  a1  b2  Yes
2  a1  b3  Yes
3  a1  b4   No
4  a2  b5   No
5  a2  b6   No

In [20]:
def convert_to_binary(_set):#yes/no
    _set = list(_set)
    result = [1 if _ == 'Yes' else 0 for _ in _set]
    return result

In [22]:
entropy_S = entropy(convert_to_binary(df['PLAY']))

entropy: 1.0

In [96]:
df['A']

0    a1
1    a1
2    a1
3    a1
4    a2
5    a2
Name: A, dtype: object

In [133]:
def Gain(sets, alphabet = 'A'):
    entropy_S = entropy(convert_to_binary(sets['PLAY']))#where 'label'
    
    print('entropy_S:',entropy_S)
    #print(sets.columns)
    #print('alphabet:',alphabet)
    #list_sets = sets[,alphabet].values
    #print(list_sets)
    attrs = list(np.unique(alphabet))
    #attrs = list(np.unique(sets[alphabet]))#''
    print('attrs:',attrs)
    result = 0
    for a in attrs:
        #print("a:",a)
        n_a = list(alphabet).count(a)
        #print('n_a:',n_a)
        P = n_a/len(alphabet)
        #print('P:',P)
        #print(sets[sets['A'] == a]['PLAY'])
        result += -P*entropy(convert_to_binary(sets[alphabet == a]['PLAY']))
        #print("result:",result)
    #print('\nentropy_S:',entropy_S)
    
    result = entropy_S + result
    return result

In [122]:
Gain(df,df['A'])

entropy_S: 1.0
attrs: ['a1', 'a2']

0.4591479170272448

In [123]:
def SplitInfo(sets, attr):
    vals = np.unique(attr)
    result = 0
    for val in vals:
        n_val= list(attr).count(val)
        P = n_val/len(attr)
        result += -P*math.log(P,2)
    return result

In [124]:
SplitInfo(df, A)

0.9182958340544896

In [125]:
SplitInfo(df,B)

2.584962500721156

In [126]:
def GainInfo(_set, alphabet = 'A'):
    G = Gain(_set, _set[alphabet])
    S = SplitInfo(_set, list(_set[alphabet]))
    print('Gain/Splitinfo: {}/{}'.format(G,S))
    return G/S

In [129]:
GainInfo(df,'A')

entropy_S: 1.0
attrs: ['a1', 'a2']
Gain/Splitinfo: 0.4591479170272448/0.9182958340544896

0.5

In [130]:
GainInfo(df,'B')

entropy_S: 1.0
attrs: ['b1', 'b2', 'b3', 'b4', 'b5', 'b6']
Gain/Splitinfo: 1.0/2.584962500721156

0.38685280723454163

## Regression Tree

In [238]:
A = ['Strong','Strong','Weak','Weak']
B = ['High','Low','High','Low']
Output = [1.5,1.0,2.0,1.0]
df = pd.DataFrame({'A':A,'B':B,'Output':Output})

In [239]:
import math
def SquaredError_RT(df, alphabet = 'A'):
    attr = np.unique(df[alphabet])
    summ = 0
    for a in attr:
        tmp_df = df[df[alphabet]==a]
        #print(tmp_df)
        mu = np.mean(tmp_df['Output'])
        #print(mu)
        li = list(tmp_df['Output']-mu)
        li = [(_)**2 for _ in li]
        tmp_result = sum(li)
        print(a,':',tmp_result)
        n_tot=len(df[alphabet])
        n_a = len(tmp_df)
        summ += (n_a/n_tot)*tmp_result
        #print(np.sum(math.sqrt(tmp_df[alphabet]-mu)))
    
    return summ

In [240]:
SquaredError_RT(df,'A')#'A  '

Strong : 0.125
Weak : 0.5

0.3125

In [241]:
SquaredError_RT(df,'B')

High : 0.125
Low : 0.0

0.0625

In [242]:
import numpy as np

In [243]:
import math

In [244]:
data = [[43, 43], [12, 19], [34, 40], [32, 39], [23, 25]]

In [246]:
summ = 0
for li in data:
    x,y = li[0],li[1]
    y_hat = 9.2+0.8*x
    summ += (y-y_hat)**2
summ/len(data)

7.551999999999997